.App {
  text-align: center;
}
.text-purple {
  color: blueviolet;
}
.text-red {
  color: red;
}
.bg-purple {
  background-color: blueviolet;
}
.container-1 {
  display: flex;
}
.container-1 div {
  /* border: 1px #ccc solid; */
  padding: 10px;
}

.box-1 {
  flex: 1;
}
.box-2 {
  flex: 2;
}
.box-3 {
  flex: 1;
}
.box-4 {
  flex: 2;
}
.box-5 {
  flex: 1;
}
.box-6 {
  flex: 1;
}
.box-7 {
  flex: 1;
}
.box-8 {
  flex: 1;
}
.box-9 {
  flex: 2;
}

.card-group {
  padding: 8px;
  margin: 8px;
}

/* .card:hover {
	transform: scale(1.1);
} */

.a-border-primary {
  color: #0d6efd;
}

.a-border-danger {
  color: #dc3545;
}

.text-indigo {
  color: var(--bs-indigo);
}

.border-indigo {
  border-color: var(--bs-indigo);
}